<div class="col" id="about">
  <h3>About</h3>

  <p>Introductory text goes here</p>
</div>

<!--div class="col" id="posts">
  <h3>Posts</h3>
</div-->

<div class="col" id="tweets">
  <h3>Tweets</h3>
</div>
