<%= Settings.name.split(' ').first %> is a <%= age %>-year-old

<ul class="delimited">
  <li>web developer</li>
  <li>sysadmin-in-training</li>
  <li><acronym title="Computer Information Systems">CIS</acronym> major at <%= link_to "ASU", "http://www.asu.edu", rel: :external %></li>
  <li>blogger</li>
  <li>writer</li>
  <li><%= link_to "Mormon", "http://www.mormon.org", rel: :external %></li>
  <li>geek-of-all-trades</li>
</ul>

who lives with his cat in Tempe, AZ.
