@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

//$font-color: white;
//$blueprint-background-color: #4a525a;

@import "blueprint/reset";
@import "blueprint";

@import "compass/typography/lists/horizontal-list";

body {
  @include blueprint;

  background: $blueprint-background-color;
  font-family: "Droid Serif", serif;

  div#page {
    @include container;

    padding-top: 1em;

    div#main {
      @include column(18, true);
      @include prepend(6);

      header#header {
        @include column(18, true);

        hgroup#site_title {
          @include column(18, true);

          text-align: right;
        }
      }

      div#content {
        @include column(18, true);
      }
    }

    div#sidebar {
      @include column(6);
      @include pull(24, true);

      img#avatar {
        @include column(6);
      }

      nav#social_menu {
        @include column(6);

        clear: both;
        padding-top: 4px;

        ul {
          @include horizontal-list;

          li {
            padding: 0 3px;

            &:first-child {
              padding-left: 4px;
            }

            &:last-child {
              padding-right: 4px;
            }

            img.social_icon {
              width: 32px;
            }
          }
        }
      }
    }
  }
}

@import "welcome";
