@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

//$font-color: white;
//$blueprint-background-color: #4a525a;

@import "blueprint/reset";
@import "blueprint";

@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/inline-list";

body {
  @include blueprint;

  background: $blueprint-background-color;
  font-family: "Droid Serif", serif;

  div#page {
    @include container;

    padding-top: 1em;

    div#main {
      @include column(18, true);
      @include prepend(6);

      header#header {
        @include column(18, true);

        margin-bottom: 1em;

        hgroup#site_title {
          @include column(18, true);

          text-align: right;
        }
      }

      div#content {
        @include column(18, true);
      }
    }

    div#sidebar {
      @include column(5);
      @include pull(24, true);

      img#avatar {
        @include column(5);
      }

      nav#social_menu {
        @include column(5);

        clear: both;
        padding-top: 4px;

        ul {
          @include horizontal-list(3px);

          li {
            &:first-child {
              padding-left: 2px;
            }

            &:last-child {
              padding-right: 2px;
            }

            img.social_icon {
              width: 26px;
            }
          }
        }
      }
    }
  }
}

ul.delimited {
  @include delimited-list;

  li:last-child {
    &:before {
      content: 'and ';
    }

    &:after {
      content: '.';
    }
  }
}

@import "welcome";
