// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.posts {
  article.post {
    margin-bottom: 1.5em;

    header.post_header {
      margin-bottom: 1.5em;

      h1 {
        font-size: 2em;
      }

      div.meta {
        font-size: smaller;
      }
    }
  }
}
