@import "blueprint/grid";

body.posts {
  article.post {
    @include column(18, true);

    header.post_header {
      margin-bottom: 1.5em;
      font-size: 80%;

      h1 {
        line-height: 1.5;
        margin-bottom: 0.25em;
      }
    }
  }

  &.index {
    article.post {
      margin-top: 3em;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &.show {
    nav.posts_nav {
      @include column(18, true);

      font-size: smaller;

      div.post_nav {
        @include column(9);

        &.prev_post {
          text-align: left;
        }

        &.next_post {
          @include last;

          text-align: right;
        }
      }
    }

    div#disqus_thread {
      @include column(18, true);

      margin-top: 1.5em;
    }
  }
}
