// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.posts {
  article.post {
    @include column(18, true);

    header.post_header {
      margin-bottom: 1.5em;

      h1 {
        font-size: 2em;
      }

      div.meta {
        font-size: smaller;
      }
    }
  }

  nav.posts_nav {
    @include column(18, true);

    div.post_nav {
      @include column(9);

      &.prev_post {
        text-align: left;
      }

      &.next_post {
        @include last;

        text-align: right;
      }
    }
  }
}
