body.welcome {
  div#page {
    padding-top: 5em;

    div#main {
      @include column(16, true);
      @include prepend(4);
      @include append(4);

      header#header {
        @include column(16, true);

        height: span(5);

        hgroup#site_title {
          @include column(11, true);
          @include prepend(5);
        }
      }

      div#content {
        @include column(16, true);
      }
    }

    div#sidebar {
      @include column(16, true);
      @include pull(20, true);

      position: relative;

      nav#social_menu {
        @include column(11, true);

        clear: none;
        position: absolute;
        bottom: 0;

        ul {
          @include horizontal-list(4px);

          float: right;

          li {
            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }

            a {
              display: block;
              height: 48px;
              width: 48px;

              img.social_icon {
                width: 48px;
              }
            }
          }
        }
      }
    }
  }
}
