<div id="latest_tweets">
  <h3><%= link_to "Latest Tweets", Settings.social.twitter.url, rel: :external %></h3>

  <ul>
  <% latest_tweets.each do |tweet| %>
    <li>
      <%= auto_link tweet.text, html: { rel: :external } %>
      <%= link_to time_ago_in_words(tweet.created_at) + " ago", Settings.social.twitter.url + "/status/#{tweet.id}", rel: :external %>
    </li>
  <% end %>
  </ul>
</div>
